p {
    margin: 0;
}

.picture-section {
    background-image: url("../images/bg-room.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 800px;
    height: 400px;
    top: 100;
    left: 100;
}

.choice-section {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 200px;
    font-size: 24px;
}

.choice {
    display: flex;
    justify-content: space-around;
    width: 75%;
}

.button {
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 100px;
    border: 2px solid grey;
}

.button .emoji {
    font-size: 24px;
}

.button p {
    font-size: 18px;
    padding: 0 15px;
    font-weight: bold;
    color: white;
}

.yes-button {
    background-color: rgb(0, 91, 9);
}

.no-button {
    background-color: rgb(120, 0, 0);
}

.sprite-1 {
    position: relative;
    display: none;
    top: 75px;
    left: 125px;
    width: 160px;
    height: 100px;
}

.sprite-2 {
    position: relative;
    display: none;
    top: 75px;
    left: 450px;
    width: 125px;
    height: 100px;
}

.result {
    height: 25px;
}

img {
    width: 100%;
    height: auto;
}